* {
	margin: 0px;
	padding: 0px;
}
.top_headers {
	background-color: orange;
	width: 975px;
	box-sizing: border-box;
}
.heading {
	display: inline-block;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 9px;

}
.sub_heading {
    display: inline-block;
    text-align: right;
    width: 772px;
}
.container {
	background-color: #3B322E;
	width: 975px;
	box-sizing: border-box;
	padding: 15px;}
.top_section {
/*	background-color: yellow;*/
	width: 945px;
	box-sizing: border-box;
	margin-bottom: 15px;
}
.img {
	display: inline-block;
	border: 5px solid grey;
	width: 45%;
	height: 45%;
}
.top_container {
	display: inline-block;
	width: 464.59px;
	height: 290.84px;
	background-color: red;
	vertical-align: top;
	float: right;
	/*position: relative;
	left: 15px;*/
}
.main_section {
/*	background-color: blue;*/
	width: 945px;
	box-sizing: border-box;
}
.projects {
	background-color: red;
	display: inline-block;
	width: 301px;
	height: 626px;
	box-sizing: border-box;
}
.five {
	position: relative;
	left: 34px;
	bottom: 30px;
	top: 0px;
}
.family {
	position: relative;
	left: 18px;
	bottom: 30px;
	top: 0px;
}
.content_heading {
	background-color: green;
	padding: 11px;
}
.top_content {
	padding: 10px;
}
.project_content {
	padding: 11px;
}
.img_project {
	width: 100%;
	height: 29%;
}
.para_content {
	text-align: justify;
}
.tech_container {
    padding-top: 10px;
    padding-left: 10px;
}
.tech_button {
    width: 15%;
    height: 13%;
    display: inline-block;
    margin-right: 10px;
}
.click_button {
    width: 99px;
    height: 40px;
    border-radius: 9px;
    position: relative;
    left: 89px;
    top: 19px;
}
.contacts {
	text-align: center;
}
.footer {
	width: 975px;
	height: 75px;
	background: orange;
	padding: 15px;
	box-sizing: border-box;
}
.social_media {
    padding-left: 296px;
    padding-top: 8px;
}
.social_media_icons {
	width: 2.5%;
	margin-left: 1px;
}
.header_footer_bg {
	background-color: #F9F9F9; 
}
.font {
	font-family: Arial, Helvetica, sans-serif;
}